<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(text='Messages')">
        <title>Messages</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>
        
        <h1>Recent posts by you and your connections:</h1>
        
        <form th:action="@{/messages}" th:method="POST">
            <table>
                <tr>
                    <td>Post:</td>
                    <td><input type="text" name="text"/></td>
                    <td><input type="submit" value="Send!"/></td>
                </tr>
            </table>
        </form>
        
        <ol>
            <li th:each="message, iter : ${messages}">
                <div>
                    <span th:text="${message.message}">message</span> - by <span th:text="${message.user.FirstNameLastName}">user</span> (<span th:text="${message.messageTime}">date</span>)
                </div>
            </li>
        </ol>
    </body>
</html>
